repos:
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.7.0
    hooks:
    - id: setup-cfg-fmt
      args: [
        --include-version-classifiers,
        --max-py-version=3.11,
        --min-py-version=3.9,
      ]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: no-commit-to-branch
    - id: check-shebang-scripts-are-executable
    - id: check-executables-have-shebangs
    - id: check-yaml
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    - id: pyupgrade
      args: [--py37-plus]
-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    - id: black-jupyter

-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      name: isort (python)
    - id: isort
      name: isort (cython)
      types: [cython]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies: [
        flake8-bugbear==22.7.1,
        flake8-logging-format==0.8.1,
        flake8-2020==1.6.1,
      ]
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==22.6.0]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-backticks
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.8.7
  hooks:
    - id: nbqa-pyupgrade
      args: [--py37-plus]
    - id: nbqa-isort
    - id: nbqa-flake8
      args: [--extend-ignore=E402]
      additional_dependencies: [
        flake8-bugbear==22.7.1,
        flake8-logging-format==0.8.1,
      ]
