include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md

recursive-include docs *.rst conf.py Makefile make.bat *.txt *.png
recursive-include examples *.ipynb
recursive-include examples *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
